<section id="liquid-light-banner" class="ll-banner-section">
  <div class="ll-banner-container">
    <div class="ll-banner-content">
      <div class="logo-wrapper">
        <img src="assets/logos/Liquid Light.png" alt="Liquid Light Logo" class="ll-logo" />
      </div>
      <!--
      <h2 class="ll-title">{{ 'PHARAOHS.PROMO.LIQUID_LIGHT.TITLE' | translate }}</h2>
      <p class="ll-desc">{{ 'PHARAOHS.PROMO.LIQUID_LIGHT.DESC' | translate }}</p>
       -->
      <a routerLink="/liquid-light" target="_blank" rel="noopener noreferrer" class="ll-btn">
        {{ 'PHARAOHS.PROMO.LIQUID_LIGHT.BTN' | translate }}
      </a>
    </div>
  </div>
</section>